<header class="container">
    <section class="row">
        <h1 class="col-md-3">Rate-iology</h1>
        <div class="col-md-4">
            <a href="/#!home"><button>Home</button></a>
            <a href="/#!user"><button>User</button></a>
            <a href="/#!favorites"><button>Favorites</button></a>
            <a href="/#!random"><button>Random</button></a>
        </div>
        <div class="col-md-3">
            <input type="text" placeholder="Search Movies">
            <button>Search</button>
        </div>
        <nav class="col-md-2">
            <a href="/#!login">Login</a>
            <a href="/#!register">Register</a>
        </nav>
    </section>
</header>