<section class="container" ng-repeat="movie in mc.moviePage">
    <h2 class="row">{{movie.title}}</h2>
    <div class="row">
            <img class="col-{breakpoint}-auto" src="http://image.tmdb.org/t/p/w342{{movie.poster_path}}">
            <div class="flex-column col-md-4">
                <h3>Movie Info</h3>
                <p>{{movie.release_date}}</p>
                <p>{{movie.overview}}</p>
                <h3>Average Rating</h3>
                <h4>{{movie.averageRating}}</h4>
            </div>
            <div class="flex-column col-md-4">
                <h3>User Rating</h3>
                <input type="number" ng-model="mc.enteredRating.rating" min="1" max="100">
                <button ng-click="mc.rateMovie(mc.enteredRating)">Rate</button>
                <p>Rate {{movie.title}} between 1 and 100</p>
            </div>
    </div>
    <div class="row">
            <div class="col-md-8 offset-md-2" id="line" width="800" height="450"></div>
    </div>
</section>