<section class="container" ng-repeat="movie in mc.moviePage">
    <h2 class="row">{{movie.title}}</h2>
    <div class="row">
            <img class="col-{breakpoint}-auto" src="http://image.tmdb.org/t/p/w342{{movie.poster_path}}">
            <div class="flex-column col-md-4">
                <h3>Movie Info</h3>
                <p>{{movie.release_date}}</p>
                <p>{{movie.overview}}</p>
                <h3>Average Rating</h3>
                <h4>{{movie.averageRating}}</h4>
            </div>
            <div class="flex-column col-md-4">
                <h3>User Rating</h3>
                <input type="number" ng-model="mc.enteredRating.rating" min="1" max="100">
                <button ng-click="mc.rateMovie(mc.enteredRating)">Rate</button>
                <p>Rate {{movie.title}} between 1 and 100</p>
            </div>
    </div>
    <br>
    <br>
    <div class="row" id='thingy'>
            <div class="col-md-8 offset-md-2" id="line" width="800" height="450"></div>
    </div>
    <h3>Search Demographic Info</h3>
    <div class="row">
        <div class="col-md-2">
            <label for="age">Age:</label>
            <select class="demographic-select" type="number" ng-model="mc.demographics.age">
                <option value="0-18">0-18</option>
                <option value="19-25">19-25</option>
                <option value="26-34">26-34</option>
                <option value="35-54">35-54</option>
                <option value="55-64">55-64</option>
                <option value="65+">65+</option>
            </select>
        </div>
        <div class="col-md-2">
            <label for="gender">Gender:</label>
            <select class="demographic-select" type="text" ng-model="mc.demographics.gender">
                <option value="M">M</option>
                <option value="F">F</option>
            </select>
        </div>
        <div class="col-md-1">
            <button ng-click="mc.description=!mc.description">Search</button>
        </div>
    </div>
    <div ng-show="mc.description" class="row">Gender is a construct!</div>
    <br>
    <br>

</section>