<div class="container">
  <h1 class="lead">Register User</h1>
  <h1 class="lead alert alert-danger" role="alert" ng-if="vm.message != ''">{{vm.message}}</h2>
  <form ng-submit="vm.registerUser()">
    <div>
        <label for="username">Username:</label>
        <input type="text" ng-model="vm.user.username" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" ng-model="vm.user.password" />
    </div>
    <div>
      <label for="age">Age:</label>
      <select type="number" ng-model="vm.user.age">
          <option value="0-18">0-18</option>
          <option value="19-25">19-25</option>
          <option value="26-34">26-34</option>
          <option value="35-54">35-54</option>
          <option value="55-64">55-64</option>
          <option value="65+">65+</option>
        </select>
  </div>
  <div>
    <label for="gender">Gender:</label>
    <select type="text" ng-model="vm.user.gender">
        <option value="M">M</option>
        <option value="F">F</option>
        <option value="N">Choose not to answer</option>
    </select>
</div>
    <input class="btn btn-default" type="submit" name="submit" value="Register" />
    <a href="#!home">Cancel</a>
  </form>

</div>
